.color {
    display: inline-block;
    border: 1px solid black;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#pixel-board {
    border: 1px solid black;
    height: 226px;
    width: 210px;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}

.color {
    width: 40px;
    height: 40px;
}